.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burgerLine {
  width: 23px;
  height: 3px;
  background: white;
}
